---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const gear = await getCollection('gear');
  return gear.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Gear – ${entry.data.title}`}>
  <h1>{entry.data.title}</h1>
  <Content />
</Layout>
