---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const gear = await getCollection('gear');
---

<Layout title="Gear">
  <div>
    <h1>Gear</h1>
    <ul>
      {
        gear.map((item) => (
          <li>
            <a href={`/gear/${item.slug}`}>{item.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
