---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

const links = [
  {
    label: "About",
    url: "/about/",
  },
  {
    label: "Trips",
    url: "/trips/",
  },
  {
    label: "Gallery",
    url: "/gallery/",
  },
  {
    label: "News",
    url: "/news/",
  },
];
---

<Layout title="Yale Outdoors">
  <section class="p-20 pb-24">
    <div class="grid grid-cols-2 gap-28">
      <div class="grid gap-14 items-center">
        <h2 class="text-4xl leading-relaxed text-emerald-800 font-serif">
          Offering trips, events, and good-spirited community to Yale since who
          knows when.
        </h2>
        <div class="grid gap-10">
          <h3 class="text-emerald-600 text-3xl font-bold">
            Join us and get outside!
          </h3>
          <div class="grid gap-3 grid-flow-col">
            <input
              type="email"
              placeholder="Email"
              class="border border-emerald-400 rounded-xl px-5 py-2 outline-none text-lg text-emerald-800 placeholder:text-emerald-800/50"
            />
            <button
              class="bg-emerald-600 text-white rounded-xl px-5 py-2 text-lg hover:bg-emerald-700 transition-colors"
            >
              Join the newsletter
            </button>
          </div>
        </div>
      </div>
      <div>
        <figure class="grid gap-5">
          <img src="/banner.jpg" alt="Yale Outdoors" class="rounded-xl" />
          <div class="flex items-center justify-between">
            <figcaption class="text-gray-700 text-sm">
              A recent trip to the Adirondacks
            </figcaption>
            <a
              class="text-emerald-600 hover:text-emerald-700 flex items-center gap-2"
              href="/gallery/"
            >
              View Gallery
              <Icon name="tabler:arrow-right" class="w-6" />
            </a>
          </div>
        </figure>
      </div>
    </div>
  </section>
  <section class="p-20 grid gap-16 bg-emerald-600">
    <h2 class="text-white font-serif font-bold text-4xl">Upcoming Trips</h2>
    <div class="grid grid-cols-3 gap-10">
      <div class="bg-yellow-50 rounded-xl shadow p-8 grid gap-3">
        <h3 class="text-2xl font-bold">Trip Name</h3>
        <p class="text-gray-500">Trip Description</p>
        <a href="#" class="text-emerald-600 hover:text-emerald-700"
          >Learn More</a
        >
      </div>
      <div class="bg-yellow-50 rounded-xl shadow p-8 grid gap-3">
        <h3 class="text-2xl font-bold">Trip Name</h3>
        <p class="text-gray-500">Trip Description</p>
        <a href="#" class="text-emerald-600 hover:text-emerald-700"
          >Learn More</a
        >
      </div>
      <div class="bg-yellow-50 rounded-xl shadow p-8 grid gap-3">
        <h3 class="text-2xl font-bold">Trip Name</h3>
        <p class="text-gray-500">Trip Description</p>
        <a href="#" class="text-emerald-600 hover:text-emerald-700"
          >Learn More</a
        >
      </div>
    </div>
  </section>
</Layout>
