---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const resources = await getCollection('resources');
  return resources.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`Resources – ${entry.data.title}`}>
  <div class="flex justify-center p-24">
    <article class="prose prose-xl prose-emerald prose-headings:font-serif prose-headings:text-emerald-800">
      <Content />
    </article>
  </div>
</Layout>
