---
import Header from '@components/Header.astro';
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer';

export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='bg-yellow-50/75'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{`Yale Outdoors – ${title}`}</title>
    <GoogleFontsOptimizer url='https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap' />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
